/build.bat
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-636f8acb4fb6c42b9e8c.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-7fd9a3c915afcd83e816.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-bde44a7d291f5a0c7b7e.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-01T12-08-29-0587.json
/cmake-build-debug/.cmake/api/v1/reply/target-BitFalls-Debug-40a9cba9f0363b348d4d.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3c3021893dd474f22c8f.json
